/* Responsive */
@media (max-width: 1199px) {
	.banner-content-outer h1 {
		font-size: 70px;
	}
	.hddr_inr {
		display: none;
	}
}

@media (max-width: 991px) {
	.logo {
		width: 180px;
		display: block;
	}

	.sticky .logo {
		width: 160px;
	}

	.nav_holder {
		padding: 10px 0;
	}

	.hdr_menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 400px;
		transform: translateX(100%);
		background: #fff;
		overflow-y: auto;
		transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
		padding: 10px 15px 20px;
		z-index: 99;
	}

	.hdr_menu ul {
		padding-top: 50px;
	}

	.hdr_menu ul li {
		width: 100%;
		transition: all 0.4s ease-in-out;
	}

	.hdr_menu ul li.menu-item-has-children .sub-menu {
		display: block;
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		padding: 0px 10px 0;
		background-color: transparent;
		box-shadow: none;
		transform: none;
		transition: initial !important;
		-webkit-transition: initial !important;
	}

	.hdr_menu ul li.menu-item-has-children ul li {
		padding: 5px 0;
		line-height: 1.5;
	}

	.hdr_menu li {
		margin-right: 0;
		padding-right: 0;
		border: 0;
		margin-bottom: 0px;
	}

	.hdr_menu li a {
		font-size: 15px;
		font-weight: 400;
		display: block;
		color: #000000;
		padding: 5px 0;
	}

	.hdr_menu li a:hover {
		color: #688238 !important;
	}

	.hdr_menu li a::before {
		display: none;
	}

	.hdr_menu li:hover a {
		color: #000000 !important;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a {
		color: #000;
		font-size: 15px;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a:hover {
		color: #688238;
		padding-left: 0;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item > a {
		color: #688238;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item > a:hover {
		color: #688238;
	}

	.hdr_menu li > a::after {
		display: none;
	}

	.sticky .hdr_menu li.current-menu-item a {
		color: #688238;
	}

	.sticky .hdr_menu li:hover a {
		color: #688238;
	}

	.sticky .hdr_menu li a {
		color: #000000;
		background-color: transparent;
	}

	.menu_btn {
		width: 30px;
		display: block;
	}

	.menu_btn span {
		height: 2px;
		display: block;
		background: #ef6130;
		margin-left: auto;
		transition: 0.4s;
	}

	.menu_btn span:nth-child(2) {
		width: 80%;
	}

	.menu_btn span + span {
		margin-top: 5px;
	}

	.menu_trigger {
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 100;
		transform: translateY(-50%);
	}

	.mobile_menu_active {
		overflow: hidden;
	}

	.mobile_menu_active .menu_trigger {
		right: 20px;
		top: 25px;
		transform: none;
		position: fixed;
	}

	.mobile_menu_active .hdr_menu {
		transform: translateX(0px);
	}

	.mobile_menu_active .overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 30;
	}

	.mobile_menu_active .menu_btn span {
		background: #688238;
	}

	.mobile_menu_active .menu_btn span:first-child {
		transform: rotate(45deg);
	}

	.mobile_menu_active .menu_btn span:last-child {
		transform: rotate(-45deg);
	}

	.mobile_menu_active .menu_btn span:nth-child(2) {
		display: none;
	}

	.mobile_menu_active .menu_btn span + span {
		margin-top: -2px;
		width: 100%;
	}

	.mobile_menu_active .hddr_inr {
		position: static;
	}

	.mobile_menu_active .sticky .nav_holder {
		position: fixed;
	}

	.mobile_menu_active .nav_inr {
		position: static;
	}

	.overlay {
		overflow: hidden;
	}

	.nav_inr {
		position: relative;
	}

	.sub_menu_opener {
		display: block;
		pointer-events: none;
	}

	.responisve-logo {
		display: block;
		width: 270px;
	}

	.header-social-list-outer {
		display: none;
	}

	.header-social-list-outer.responsive-header-social-btn {
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
	}

	.responsive-menu-additional-components {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.hdr_menu li.menu-item-has-children .sub-menu li.current-menu-item a {
		padding-left: 0;
	}
	.our-work-process-wrapper .tab-content > .tab-pane {
		display: block;
		opacity: 1;
	}
	.side-pic {
		display: none;
	}
	.menu-holder {
		width: 100%;
		max-width: 100%;
	}
	.building-with-care-media img {
		width: 100%;
	}
	.building-with-care-wrapper .section-heading {
		padding-left: 0;
		margin-top: 30px;
	}
	.schedule-free-consultation-wrapper .schedule-free-consultation-pic {
		position: static;
		padding: 0 12px;
		width: 100%;
		margin-bottom: 25px;
	}
	.schedule-free-consultation-data {
		max-width: 100%;
	}
	.featured-project-card img {
		width: 100%;
	}
}

@media (max-width: 767px) {
	body {
		font-size: 16px;
		line-height: 26px;
	}

	.input-field {
		margin-bottom: 15px;
	}

	.banner-wrapper .banner-text {
		position: relative;
		z-index: 2;
	}

	.banner-wrapper .banner-text h1 {
		font-size: 32px;
	}

	.section-heading h2 {
		font-size: 28px;
		margin-bottom: 15px;
	}
	.ourSolution .tabCumAccordian .tabNav {
		display: none;
	}
	.tabCumAccordian .tabTitleHead {
		display: block;
	}
	.banner-content-outer p {
		font-size: 20px;
	}
	.menu-holder .nav li a {
		padding: 12px 12px 12px 30px;
		font-size: 20px;
		line-height: 1.5;
	}
	.off-canvas-menu-holder .off-canvas-close-btn {
		top: 25px;
		right: 20px;
	}
	.banner-content-outer .btn {
		min-width: auto;
	}
	.btn,
	.basic-btn {
		font-size: 17px;
		line-height: 1.4;
		padding: 11px 24px;
	}
	.service-slider-outer .service-slide-card .data {
		padding: 15px;
		margin: 0;
		transform: none;
	}
	.service-slider-outer .service-slide-card .data h3 {
		font-size: 22px;
	}
	.work-with-us-wrapper .work-with-us-video-holder {
		height: 350px;
	}
	.our-design-row {
		padding: 40px 0;
	}
	.our-design-card {
		padding: 0;
		border-right: 0;
	}
	.team-grid [class*="col-"]:nth-child(2) {
		width: 100%;
	}
	.schedule-free-consultation-wrapper {
		padding: 50px 0;
	}
	.section-padding {
		padding: 50px 0;
	}
	.our-portfolio-wrapper .section-heading {
		margin: 40px auto;
	}
	.our-work-process-wrapper {
		display: none;
	}
	.testimonial-slider-outer .testimonial-card .review-data-outer {
		flex-direction: column;
	}
	.testimonial-slider-outer .testimonial-card .author-info {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.review-meta-data-outer {
		margin: 0 auto 20px;
		justify-content: center;
		flex-direction: column;
	}
	.review-meta-data-outer .data-left {
		width: 100%;
		margin-bottom: 20px;
	}
	.review-meta-data-outer .data-right {
		width: 100%;
	}
	.review-others-list-outer {
		width: 100%;
		justify-content: space-between;
	}
	.review-others-list-outer .item {
		padding: 0 10px;
	}
	.review-others-list-outer .item:first-child {
		padding-left: 0;
	}

	.testimonial-slider-outer .swiper-nav {
		margin-top: 15px;
		display: flex;
		justify-content: center;
		gap: 15px;
		flex-direction: row-reverse;
	}
	.testimonial-slider-outer .swiper-button-prev,
	.testimonial-slider-outer .swiper-button-next {
		position: static;
		transform: none;
		margin: 0;
	}
	.footer-top-row {
		padding-top: 40px;
	}
	.footer-top-row > [class*="col-"]:nth-child(2) {
		padding-left: 15px;
		padding-top: 0;
		padding-bottom: 30px;
	}
	.footer-top-row > [class*="col-"] {
		padding: 0 15px 30px;
	}
	.footer-bottom-row .holder {
		flex-direction: column;
		gap: 15px;
	}
}
